<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.tutsall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewPagerG" />
        <activity android:name=".CustomCont" />
        <activity android:name=".AnimationViewLearn" />
        <activity android:name=".DragDrag" />
        <activity android:name=".LayoutTest" />
        <activity android:name=".CustomListTest" />
        <activity android:name=".GesGestureGes"></activity>
        <activity android:name=".MediaPlayerGg"></activity>
        <activity android:name=".PlayAudioExample">

        </activity>
        <activity android:name=".CamCamCa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>